.add-post {
    margin-bottom: 150px;
    margin-top: 30px;
    position: relative;
}
.add-post-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    z-index: 2;
}