.post {
    min-height: calc(100vh - 150px) !important;
    margin: 0 0 50px 0 !important;
    height: 100% !important;
}

.post-header {
    font-family: impact !important;
    font-size: 40px !important;
}

.post-item {
    display: inline-block;
    position: relative;
}

.item-touch {
    background: black !important;
    color: white;
}

.filter {
    background: blue;
    color: white;
}

.comment {
    border-bottom: 4px solid;
}

.comment:hover {
    background: rgba(0, 0, 255, 0.2);
}
