.custom-popup {
    position: absolute;
    z-index: 100;
    top: 110px;
    right: 20px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    opacity: 0;
}